body {
    background-color: #e1f4f3;
    text-align: center;
}

.navbar {
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }
footer {
    padding: 20px;
    color: gray;
}
