body {
    background-image: linear-gradient(-90deg, deepskyblue, lightgray);
    text-align: center;
}

.navbar {
    background-color: white;
    
}

a {
    color: black;
    font-weight: 500;
}

a:hover {
    color: #3121213f;
  }
  footer{
      background-color: white;
  }